.zmshe-card{
    color: #333;
    margin-right: 3%;
    width: 30%;
    min-width: 500px;
    height: 300px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.zmshe-card-current{
  display: block;
  content: '';
  position: absolute;
  // top: 50%;
  // left: 50%;
  width: 0px;
  height: 0px;
  transition: all 0.5s;
}
.zmshe-card:hover .zmshe-card-current{
   width: 140%;
   height: 160%;
   background: rgb(240, 229, 165);
   border-radius: 50%;
  // box-shadow: 0 0 30px rgb(243, 243, 243);
}